.ant-slider-track {
    padding: 5px;
}
.ant-slider-rail {
    padding: 5px;
}

.ant-slider-handle {
    width: 20px;
    height: 20px;
    border-width: 4px;
}

.ant-slider-dot {
    width: 14px;
    height: 14px;
    border-width: 3px;
}

.ant-slider-mark-text {
    padding-left: 10px;
}