.header__logo {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 80px;
	min-width: 150px;
	max-width: 300px;
	background-image: url("../../assets/logo192.png");
	@media screen and (max-width:470px) {
		height: 3.2rem;
	}
}
