.statistic-item {
    background-color: rgb(57, 91, 243);
    color: white;
    margin: 5px;
    width: 350px;
    height: 100px;
}

.statistic-title {
    padding-top: 8px;
    font-size: 15px;
    margin: 0px;
}

.statistic-counter {
    font-size: 45px;
    padding-top: 0px;
    padding-bottom: 5px;
}