.device-item {
    background-color: rgba(82, 82, 82, 0.067);
    :hover {
        background-color:rgb(207, 205, 205)
    }
}

.device-toogle {
    margin: 5px;
    max-width: 550px;
    min-width: 300px;
    
}

li {
    text-align: start;
}
