.graphContainer {
    flex-grow: 1;
    max-width: 1000px;
    min-width: 400px;
}
.setThresholdContainer {
    margin-top: 7vh;
    max-width: 400px;
    min-width: 200px;
}

.selection-view {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    @media screen and (max-width: 1000px) {
        display: block
    }
}

.selection-form {
    @media screen and(max-width: 1000px) {
        width: 90vw;
    }
}
