.update-timer {
    background-color: rgb(149, 210, 245);
    color: rgb(29, 27, 27);
    min-width: 300px;
    max-width: 450px;
    height: 100px;
}

.update-timer-title {
    padding-top: 8px;
    font-size: 1.3vw;
    margin: 5px;
}

.update-timer-text {
    font-size: 1.2vw;
    padding-top: 0px;
    padding-bottom: 5px;
}